.Navbar {
	letter-spacing: 0.09rem;
	background-color: white;
	background: rgba($color: #fff, $alpha: 0.7);
	backdrop-filter: blur(4px);

		border: 1px solid rgba(255, 255, 255, 0.18);
	
	overflow: hidden;
}
.glass{
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	background: rgba($color: #000000, $alpha: 0.5);
	border-left: none!important;
	border-right: none!important;
}
.line {
	width: 0;
}
.option :hover + .line {
	width: 100%;
}
.Navbar::-webkit-scrollbar {
	width: 0 !important;
}
