.Navbar {
	letter-spacing: 0.09rem;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.line {
	width: 0;
}
.option :hover + .line {
	width: 100%;
}
.Navbar::-webkit-scrollbar { width: 0 !important }