.custom-shadow{
    box-shadow: 0px 0px 74px 21px rgba(0,0,0,0.36) ; 
	 -webkit-box-shadow: 0px 0px 74px 21px rgba(0,0,0,0.36) ; 
	 -moz-box-shadow: 0px 0px 74px 21px rgba(0,0,0,0.36) ;
}
@media (max-width:1024px) {
	.GlobalCard{
		flex-direction: column;
	}
}