.custom-shadow{
    box-shadow: 0px 0px 74px 21px rgba(0,0,0,0.36) ; 
	 -webkit-box-shadow: 0px 0px 74px 21px rgba(0,0,0,0.36) ; 
	 -moz-box-shadow: 0px 0px 74px 21px rgba(0,0,0,0.36) ;
}

.GlobalCard:hover ~ .card-info{
	transform: rotateY(180deg);

	transition: all 1s ease-in-out;
	
}


@media (max-width:1024px) {
	.GlobalCard{
		flex-direction: column;
	}
}