@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
}
*,*:hover,*:focus{
	outline: none;
}
html {
	scroll-behavior: smooth;
	
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }
  
  
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
body::-webkit-scrollbar { width: 0 !important }