@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
}
html {
	scroll-behavior: smooth;
  }

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
body::-webkit-scrollbar { width: 0 !important }