
  .btn-shine {
    background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
    background-position: -90px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;

  }
  @-moz-keyframes shine {
    0% {
      background-position: -90px;
    }
    60% {
      background-position: 120px;
    }
    100% {
      background-position: 170px;
    }
  }
  @-webkit-keyframes shine {
    0% {
      background-position: -90px;
    }
    60% {
      background-position: 120px;
    }
    100% {
      background-position: 170px;
    }
  }
  @-o-keyframes shine {
    0% {
      background-position: -90px;
    }
    60% {
      background-position: 120px;
    }
    100% {
      background-position: 170px;
    }
  }
  @keyframes shine {
    0% {
      background-position: -90px;
    }
    60% {
      background-position: 120px;
    }
    100% {
      background-position: 170px;
    }
  }
  